<div class="row">
    <div class="col s12 m3 mt-5">
        <div class="card center-align hoverable">
            <div class="card-content">
                <span class="card-title">{{story.user.firstName}} {{story.user.lastName}}</span>
                <img src="{{story.user.image}}" class="circle responsive-img">
            </div>
            <div class="card-action">
                <a href="">More stories from <strong>{{story.user.firstName}}</strong></a>
            </div>
        </div>
    </div>
    <div class="col s12 m9">
        <h3>{{story.title}} 
            <a href="/stories/{{story.id}}/edit" class="btn-floating amber darken-3 waves-effect hoverable tooltipped" data-position='bottom' data-delay='1' data-tooltip='Edit'>
                <i class="fa fa-pencil-alt fa-1x"></i>
            </a>
        </h3>
        <div class="card hoverable">
            <div class="card-content">
                <a href="/stories" class="back-to-stories"><i class="fa fa-chevron-left"></i> Back to stories</a>
                <span class="date">{{formatDate story.date "MMMM Do YYYY"}}</span>
                {{{story.body}}}
            </div>
        </div>
        {{#if story.allowComments}}
        <div class="card">
            <div class="card-content">
                {{#each story.comments}}
                    <div class="chip hoverable" style="margin-top: 10px">
                        <img src="{{commentUser.image}}" alt="">{{commentUser.firstName}} {{commentUser.lastName}}
                    </div>
                    <p>
                         <small>Posted: {{formatDate commentDate "MMMM Do YYYY | H:m"}}</small>
                    </p>
                   
                    <p>{{commentBody}}</p>
                {{/each}}
                <span class="card-title mt-3">Comment</span>
                {{#if user}}
                    <form action="/stories/{{story.id}}/comment" method="post">
                        <div class="input-field">
                            <textarea name="commentBody" class="materialize-textarea" cols="30" rows="10"></textarea>
                            <label for="commentBody">Leave a comment</label>
                        </div>
                            <button type="submit" class="btn indigo waves-effect waves-light">Post</button>
                    </form>
                {{else}}
                    <p>You have to be <a href="/auth/google">logged in</a>  to comment.</p>
                {{/if}}
            </div>
        </div>
        {{/if}}
    </div>
</div>